# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
venv311/
env/
.env
.env.*

# Editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
Thumbs.db
.DS_Store

# Jupyter
.ipynb_checkpoints

# Logs / outputs
*.log
*.sqlite3
*.db

# Streamlit
.streamlit/

# Other
*.pyc
